/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
:root {
  --text_width_cutoff: 300px;
}
#root {
  height: 100vh;
  overflow-x: hidden;
}
.app-container {
  position: relative;
  width: 100vw;
  height: 100%;
}
main {
  text-align: center;
  padding: 2rem;
  padding-inline: 2.5rem;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.search-container button {
  /* background-color: rgb(92, 8, 18); */

  background-color: var(--background_colour_hover);
  color: var(--text_colour);
  border: 1px solid var(--border_colour);
  padding: 0.5em;
  border-radius: 6px;
  font-size: 1rem;
  &:hover {
    /* background-color: rgb(123, 4, 32); */
    /* color: rgb(177, 24, 47); */
    background-color: var(--background_colour_hover);
    border-color: #888;
  }
  &:active,
  &:focus {
    background-color: var(--background_colour_hover) !important;
    border-color: #888 !important;
    opacity: 0.8;
  }
  &:disabled {
    background-color: var(--background_colour_hover);
    color: var(--text_colour);
    border: 1px solid var(--border_colour);
    opacity: 0.5;
  }
}
.search-container .input-group {
  width: max-content;
}
.search-container .input-group input {
  background-image: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.5) 50%,
    var(--background_colour)
  );
}
.search-container .input-group input,
.search-container .input-group select {
  /* width: max-content; */
  flex: 1;
  background-color: inherit;
  color: inherit;
  border: 1px solid var(--border_colour);

  &::placeholder {
    color: inherit;
    opacity: 0.4;
  }

  &:hover {
    border-color: #888;
  }
}

.search-container .input-group select {
  cursor: pointer;
  background-color: var(--background_colour);
  color: var(--text_colour);
  border: 1px solid var(--border_colour);
  padding: 0.5em;
  border-radius: 6px;
  font-size: 1rem;
  appearance: none; /* Removes native styling in some browsers */
  transition: all 0.3s ease;
}

.search-container .input-group select option {
  background-color: var(--background_colour);
  color: var(--text_colour);
}
/* .search-container .input-group input, */

.result.card {
  /* maybe its just my ignorance but,
i strongly dislike boostrap */
  --bs-body-bg: none;
  background-image: linear-gradient(
    135deg,
    rgba(11, 11, 11, 0.8) 50%,
    var(--background_colour)
  );
  backdrop-filter: blur(10px);
  border: 1px solid var(--border_colour);
  color: var(--text_colour);
  box-sizing: border-box;

  /* idk what i like better */
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  /* -webkit-transition: none !important;
  transition: none !important; */

  &:hover {
    box-shadow: 0 0px 24px rgba(255, 255, 255, 0.1);
    transform: scale(1.05);
    background-image: linear-gradient(
      135deg,
      rgba(11, 11, 11, 0.5) 25%,
      var(--background_colour)
    );
  }
}
.result-head {
  display: flex;
  flex-direction: row;
}
.result-image {
  /* image sizes from api can either be 30, 60 or 100. */
  /* backend for fetches 100- the largest. making the image anybigger with css */
  /* makes it look really bad */
  /* https://tenor.com/en-GB/view/tony-stark-limited-tech-meme-technology-gif-10681570624129307805 */
  box-sizing: border-box;
  max-width: 100px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  margin-top: 0.25rem;
  margin-left: 0.25rem;

  /* from bootstrap */
  /* border-top-left-radius: calc(0.375rem - (1px)); */
  border-radius: calc(0.375rem - (1px));
}
.result-card-body {
  display: flex;
  height: 100px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
}
.card-body {
  color: var(--text_colour);
  box-sizing: border-box;
}
.result-card-title {
  max-width: var(--text_width_cutoff);
  /* text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
  margin: 0;
}
.result-artist-name {
  text-align: left;
  margin: 0 !important;
  max-width: var(--text_width_cutoff);
}
.card-text small {
  color: inherit;
  opacity: 0.6;
}
.result-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
  margin: 0.25rem;
}
.view-on-itunes,
.add-favourite,
.remove-favourite {
  color: var(--text_colour) !important;
  background-color: var(--background_colour_hover) !important;
}

/* now that im looking at it, all this nesting looks kinda ugly */
/* but thats later mes' problem */
.view-on-itunes {
  --view-on-itunes-color: #fa586a;

  &:hover {
    /* color: var(--view-on-itunes-color) !important; */
    opacity: 0.8;
  }

  &:active,
  &:focus {
    /* color: #333 !important; */
    color: var(--text_colour) !important;
    background-color: var(--view-on-itunes-color) !important;
    border: 1px solid var(--view-on-itunes-color) !important;
  }
}
.add-favourite {
  /* --add-favourite-color: #55ffd2; */
  --add-favourite-color: #6b0015;

  &:hover {
    /* color: var(--add-favourite-color) !important; */
    opacity: 0.8;
  }

  &:active,
  &:focus {
    /* color: #333 !important; */
    color: var(--text_colour) !important;
    border: 1px solid var(--add-favourite-color) !important;
    background-color: var(--add-favourite-color) !important;
  }
}
.remove-favourite {
  --remove-favourite-color: #b54dff;

  &:hover {
    /* color: var(--remove-favourite-color) !important; */
    opacity: 0.8;
  }

  &:active,
  &:focus {
    /* color: #333 !important; */
    color: var(--text_colour) !important;
    border: 1px solid var(--remove-favourite-color) !important;
    background-color: var(--remove-favourite-color) !important;
  }
}

.result-button-container .btn {
  flex: 1;
  margin: 0 !important;
}

.alert {
  border: 1px solid var(--border_colour) !important;
  background-color: var(--background_colour) !important;
  /* background-image: linear-gradient(
    135deg,
    rgba(7, 7, 7, 0.5) 50%,
    rgba(0, 0, 0, 0.5)
  ); */
  color: rgba(255, 218, 218, 0.6) !important;
}
/* alert is shown when there are no favourites */
#favouritesCollapse .alert {
  border: 1px solid transparent !important;
  background-color: transparent !important;
  padding: 0 !important;
}

.favourites-container {
  /* idk if i like it more in the center or in the top right */
  /* position: absolute; */
  /* padding: 1rem; */
  /* right: 0;
  top: 0; */
  padding: 0;
  margin-bottom: 1rem;
  border-radius: 6px;
  z-index: 2;
  min-width: 15rem;
}
.favourites-container .card {
  --bs-body-bg: none; /*bootstrap colour*/
  color: var(--text_colour) !important;
  border: 1px solid var(--border_colour) !important;
  /* background-color: var(--background_colour) !important; */

  background-image: linear-gradient(
    135deg,
    rgba(11, 11, 11, 0.8),
    var(--background_colour) 50%
  );
}
.favourites-container button {
  background-color: var(--background_colour_hover);
  color: var(--text_colour);

  &:hover {
    /* color: #b54dff; */
    background-color: var(--background_colour_hover);
  }

  &:active,
  &:focus {
    color: var(--text_colour) !important;
    background-color: #6b0015 !important;
    /* background-color: #b54dff !important; */
    border: 1px solid #6b0015 !important;
    /* border: 1px solid #b54dff !important; */
  }
}
.favourite-item {
  color: var(--text_colour) !important;
  padding-inline: 0 !important;
  border-color: var(--border_colour) !important;

  &:hover {
    /* color: #b54dff; */
    background-color: rgba(11, 11, 11, 0.4);
  }
}
.favourites-list span {
  --favourite_text_width_cutoff: 1000px;
  width: var(--favourite_text_width_cutoff) !important;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.favourite-item img {
  width: 32px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 8px;
}
.favourite-item button {
  color: var(--text_colour);
  background-color: var(--background_colour_hover);
  /* background-color: crimson; */

  &:hover {
    /* color: crimson; */
    background-color: var(--background_colour_hover);
    opacity: 0.8;
  }

  &:active,
  &:focus {
    color: var(--text_colour) !important;
    background-color: #6b0015 !important;
    /* background-color: crimson !important; */
    border: 1px solid #6b0015 !important;
    /* border: 1px solid crimson !important; */
  }
}

/* is it reasonable for responsiveness to break at 300px? */
/* the smallest width on the devtools is 360px */
@media screen and (max-width: 1400px) {
  :root {
    --text_width_cutoff: 220px;
  }
  .favourites-list span {
    --favourite_text_width_cutoff: 880px;
  }
}
@media screen and (max-width: 1200px) {
  :root {
    --text_width_cutoff: 180px;
  }
  .favourites-list span {
    --favourite_text_width_cutoff: 600px;
  }
}

/* switches to collumn (1row) */
@media screen and (max-width: 765px) {
  :root {
    --text_width_cutoff: 360px;
  }
  .favourites-list span {
    --favourite_text_width_cutoff: 600px;
  }
}
@media screen and (max-width: 550px) {
  :root {
    --text_width_cutoff: 280px;
  }
}
@media screen and (max-width: 450px) {
  :root {
    --text_width_cutoff: 225px;
  }
}
@media screen and (max-width: 400px) {
  :root {
    --text_width_cutoff: 180px;
  }
}
@media screen and (max-width: 350px) {
  :root {
    --text_width_cutoff: 130px;
  }
}

/* favourite */
@media screen and (max-width: 1050px) {
  .favourites-container {
    position: initial;
  }
  .favourites-list span {
    width: 80%;
  }
}
@media screen and (max-width: 700px) {
  .favourites-list span {
    width: var(--text_width_cutoff);
  }
}
